/* styles.css */

/* Add styles here to customize the appearance of your app */
@import "./node_modules/bootstrap/dist/css/bootstrap.min.css";
.intro {
    background-color: yellowgreen !important;
    font-size: 18;
    font-weight: bolder;    
}

.clearfix {
    overflow: auto;
  }

.header {
    height: 30px; /* Fixed height for the header */
    line-height: 30px;
    text-align: center;
    /*padding: 20px;*/
    background-color: darkslateblue;
    color:yellowgreen;
    font-size: 20;
    font-weight: bolder;
    position: absolute;
    top:0px !important;
    width: 100% !important;    
}

.footer {
    background-color: darkslateblue;
    color:yellow;
    font-size: 20;
    font-weight: bolder;
    position: absolute;
    bottom: 0px !important;
    width: 100% !important;    
}

body {    
    height: 100%;
    margin: 0;
    display:block !important;
    flex-direction: column;
}

.main-content {
    padding-top: 30px; /* Match this to header height */
    /*flex: 1;*/ /* This allows the main content to grow and fill available space */
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049; /* Darker green */
}

.signup-link {
    text-align: center;
}